# Django
DJANGO_SETTINGS_MODULE=config.settings.development
DJANGO_SECRET_KEY=c83ad575a1bcf08a1427b7541936a9146
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend

# PostgreSQL
DATABASE_NAME=tredro
DATABASE_USER=tredro
DATABASE_PASSWORD=tredro
DATABASE_HOST=postgres
DATABASE_PORT=5432

# Redis / Celery
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Gunicorn (production)
GUNICORN_BIND=0.0.0.0:8000
GUNICORN_WORKERS=3
